<main class="mt-4 row position-relative">
  <div class="col border rounded p-5">
    <h2 class="mb-3 text-left">Cập nhật danh mục</h2>
    <form class="d-flex justify-content-center flex-column">
      <div class="mb-3">
        <label for="name" class="form-label">Tên danh mục</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          ng-model="category.name"
        />
        <span
          class="text-danger"
          ng-if="form.name.$dirtyform && form.name.$error.required"
          >Tên danh mục không được bỏ trống !</span
        >
      </div>
      <div class="d-flex gap-4">
        <button
          type="submit"
          ng-click="handleUpdateCategories()"
          class="btn btn-primary"
        >
          Cập nhật danh mục
        </button>
        <a href="#!/admin/categories">
          <button class="btn btn-outline-primary">Trở về</button></a
        >
      </div>
    </form>
  </div>
</main>
